.prod-card {
	margin-top: 30px;
	padding: 20px;
	background-color: #ffe2fd;
	color: #000;
	border: 5px solid #000;
	width: 200px;
	height: 400px;
}

.prod-card:hover {
	color: #fff;
	background-color: #932793;
}

.prod-title {
	margin-top: 5px;
}